.div_das_divs{
    display: flex;
}
#div_pai {
    background-color: #fcff56;
    width: 500px; height: 500px;
    
}
#div_filha1 {
    background-color: #3002ff;
    width: 50%; height: 50%;
    color: #000000;
    font-size: 25px; font-family: monospace; font-weight: bold;
    
}
.paragrafo {
    background-color: #1eff00; background-clip: text;
}
#div_mae {
    background-color: #ff00b3;
    width: 50%; viewport-fit: 50%;
    
}
#div_filha2 {
    viewport-fit: 75%; height: 50%;
    background-color: #ff7b00;
    
}