.div_card {
    width: 500px;
    height: fit-content;
    background-color: rgb(248, 198, 165);
    border-radius: 25px;
    border: solid 5px #000000;
    margin: 20px
}
.div_circulo {
    width: 100px;
    height: 100px;
    background-color: rgb(234, 0, 255);
    border-radius: 50px;
}
.texto_teste {
    font-family: Verdana;
    font-size: 30px;
}
#texto_estilizado {
    font-family: Gill Sans;
}
